[Unit]
Description=NFT Firewall threat feed update

[Service]
Type=oneshot
User=nft-threatfeed
SupplementaryGroups=fw-admin
UMask=0077
PrivateTmp=true
ProtectClock=true
ProtectControlGroups=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
LockPersonality=true
RestrictRealtime=true
SystemCallArchitectures=native
ExecStart=/usr/bin/sudo -n /usr/local/lib/nft-firewall/fw-threat-update
